$bg: #0c0d11;
$fg:  #C0CAF5;
$shadow: rgba(#000000,0.3);
$border_col: transparent;
$best_so_far: rgba(255,255,255,0.1); 

.bar {
	background-color: #0c0d11;	
}

.main-container {
	// margin: 8px 12px 0px 12px;
	margin-top: 3px;
	margin-bottom: 1px;
	margin-left: -6px;
}

.workspaces {
	background-color: $bg;
	border-radius: 10px;
	color: $fg;	
	// margin-bottom: 4px;
	// border: 1px solid $border_col;
	padding: 5px 18px 3px 18px;
       	font-size: 18px;
	// box-shadow: 2px 2px 2px $shadow;
	// min-height: 25px;	
}
.info_cool{
    background-color: $bg;
	border-radius: 10px;
	color: $fg;	
	// margin-bottom: 10px;
	border: 1px solid $border_col;
	padding: 6px 20px 4px 20px;
       	font-size: 18px;
	// box-shadow: 2px 2px 2px $shadow;
	// min-height: 25px;	
}


.time_battery {
	background: $bg;
	border-radius: 10px;
	color: $fg;
	font-size: 18px;
	padding: 5px 15px 5px 14px; 
	// margin-bottom: 10px;
	border: 1px solid $border_col;
	// box-shadow: 2px 2px 2px $shadow;
	text-shadow: none;
}

.time_battery:hover {
    background: rgba(#ffffff,0.15);
}

